<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<link rel="stylesheet" href="css/reset.css">
	<body>
		<!-- 	헤더 -->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>
		<!-- 	본문 -->
		<th:block layout:fragment="content"></th:block>
		<!-- 	하단 -->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
	</body>
</html>